.logo{
    max-width: 80px;
    height: auto;
    width: auto;
    display: block;
}

.text-box {
    background-color: #f8f9fa;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

footer{
    width:100% ;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 10%;
   
}